@charset "utf-8";
/* CSS Document */

header{
	position: relative;
	border-bottom: 1px #D16893 solid;
}
.Home{
	display: block;
	width: 300px;
}

.DAY_OR_NIGHT{
	position: absolute;
	bottom: 8.5px;
	right: 5px;
}
.jin_childish{
	text-decoration: none;
	position:fixed;
	right: 5px;
	bottom: 4px;
	color: black;
	font-size: 1em;
	border-bottom: none;
}
h1{
	font-size: 2em;
	text-align: left;
	margin: 0;
}
a{
	text-decoration:none;
	color: #D16893;
}
li{
	list-style: none;
}

td{
	color: white;
}